	<div style="padding-bottom:6px;background:#fff url(bottom.jpg) no-repeat center bottom;text-align:center;">
		<object classid='clsid:D27CDB6E-AE6D-11cf-96B8-444553540000' width='500' height='233' id='bdmp3widget8918'>
			<param name='movie' value='http://box.baidu.com/widget/flash/list.swf?id=123&autoPlay=false'></param>
			<param name='wmode' value='opaque'></param><param name='allowscriptaccess' value='always'></param>
			<embed src='http://box.baidu.com/widget/flash/list.swf?id=123&autoPlay=false'
				type='application/x-shockwave-flash' wmode='opaque' allowscriptaccess='always'
				width='500' height='233' name='bdmp3widget8918'>
			</embed>
		</object>
	</div>