<!--{eval $_TPL['titles'] = array("Vương quốc game - Thế giới game - game vui- game hay - chơi game online - game flash trên mạng xã hội Nhà Tui - GoHooH.CoM");}-->
<!--{template header}-->
<div id="mainarea">

<STYLE type="text/css">
.fglist{margin:10px;}
.fglist span{float:left;padding:10px;text-align:center;width:72;}
.fglist span img{width:72px;height:63px;}
@import url(game/css/main.css);
</STYLE>
<style type="text/css">
.text1 {
line-height: 18px;
padding: 0 2px;
overflow: auto;
}
.over{
overflow: auto;
}
.xyx6 {
float: left;
width: 295px;
border-bottom: 1px dashed #CCC;
height: 90px;
padding: 15px 5px 0 0;
}
.xyx6img {
float: left;
height: 76px;
width: 99px;
}

.img1 {padding:1px;background:#fff;border:1px solid #ccc;display:block;margin:0 auto;}
.xyx6text {
float: right;
width: 185px;
line-height: 20px;
padding-top:1px;padding-left:3px;padding-right:3px;
}
.hui {color:#999;}
#content_game { float: left; margin: 0 2px 0 0; width: 615px; overflow: hidden; }
#sidebar_game { float: right; padding: 0; width: 190px; overflow: hidden; }
.xyx6img A {
BORDER-RIGHT: #ccc 1px dotted;BORDER-TOP: #ccc 1px dotted; DISPLAY: block;VERTICAL-ALIGN: middle; OVERFLOW: hidden; BORDER-LEFT: #ccc 1px dotted; WIDTH: 96px;BORDER-BOTTOM: #ccc 1px dotted; HEIGHT: 76px
}
.xyx6img A:hover {
BORDER-RIGHT: #990000 2px dotted;BORDER-TOP: #990000 2px dotted;BORDER-LEFT: #990000 2px dotted;BORDER-BOTTOM: #990000 2px dotted;background:#fff;
}
.right_box { clear: both;}
.right_box p {margin-left: 5px;text-indent: 2em;}
.right_box {
width: 186px;
    line-height: 22px;
    border: 1px solid #CACACA;
    margin-top: 10px;
    padding: 1px;
    padding-bottom: 10px;
}
.right_box h2 {
    height: 30px;
    line-height: 30px;
    padding-left: 5px;
    overflow: hidden;
    background: #E5E5E5;
    color: #000;
    font-weight: 600;
    font-size: 12px;
    margin-bottom: 5px;
}
#app1013309_games_list ul {
    margin: 0;
    padding: 5px;
    line-height: 30px;
    background: url(image/top_ul_bg.jpg) left top no-repeat;
    margin-top: -5px;
    border-top: 1px solid #CCCCCC;
}
#app1013309_games_list li {
    padding-left: 35px;
    overflow: hidden;
    border-bottom: 1px solid #EEEEEE;
    background-image: url(image/hotlist_bg.gif);
    background-repeat: no-repeat;
    height: 28px;
}
#app1013309_games_list li.top_1 {
    padding-left: 5px;
    padding-top: 3px;
    padding-bottom: 5px;
    border-bottom: 1px solid #CCCCCC;
    overflow: hidden;
    height: 59px;
    background: none;
}

#app1013309_games_list li.top_1 img {
    width: 64px;
    height: 47px;
    margin: 6px 10px 0 0;
    float: left;
}

#app1013309_games_list li.top_1 a.top_1_link {
    font-weight: 600;
    display: block;
    border-bottom: 1px solid #DEDEDE;
    background: url(image/hotlist_bg.gif) 72px 9px no-repeat;
    text-indent: 1.5em;
}

#app1013309_games_list li.top_1 span {
    float: left;
    color: #999999;
    display: block;
    width: 60px;
    text-align: left;
    margin-top: -1px;
}

#app1013309_games_list li.top_2 {
    background-position: 5px -12px;
}

#app1013309_games_list li.top_3 {
    background-position: 5px -33px;
}

#app1013309_games_list li.top_4 {
    background-position: 5px -54px;
}

#app1013309_games_list li.top_5 {
    background-position: 5px -75px;
}

#app1013309_games_list li.top_6 {
    background-position: 5px -96px;
}

#app1013309_games_list li.top_7 {
    background-position: 5px -117px;
}

#app1013309_games_list li.top_8 {
    background-position: 5px -138px;
}

#app1013309_games_list li.top_9 {
    background-position: 5px -159px;
}

#app1013309_games_list li.top_10 {
    background-position: 5px -180px;
}

#app1013309_games_list li span {
    float: right;
    color: #999999;
    display: block;
    width: 60px;
    text-align: left;
    margin-top: -1px;
}
.media_header{ position:relative; margin-bottom:35px; padding:0 10px; height:36px; border-bottom:1px solid #DDD; background-color:#F7F7F7; }.media_header .picture{ position:absolute; top:10px; }.media_header .user_info{ position:absolute; top:11px; left:70px; line-height:2em; }.media_header .user_info h2{ font-size:1.17em; }
</style>
<div class="media_header clearfix"><div class="picture"><a class="square"><img src="game/img/gamelogo.gif" id="app1013309_media_header_picture"/></a></div><div class="user_info"><div class="media_gray_bg clearfix"><h2>Chào mừng bạn đến với VƯƠNG QUỐC GAME GoHooH. </h2></div><div class="media_actions clearfix">Hãy click chọn 1 game thích hợp, chơi và phá kỷ lục, đưa tên mình vào bảng vàng.<br>Hiện tại vẫn là beta, rất mong nhận sự góp ý của các bạn tại <a href="http://www.gohooh.com/forum/" target="blank">Forum thân thiên</a> GoHooH.CoM
	<!-- <br><img src="game/img/liucheng.gif" border="0"> --></div></div></div>
<br>
<div class="tabs_header">
	<ul class="tabs">
		<li{$actives['index']}><a href="gohoohgame.php?ac=index&fgid=<!--{$fgid}-->"><span>Chơi game</span></a></li>
        <li{$actives['friendorder']}><a href="gohoohgame.php?ac=friendorder&fgid=<!--{$fgid}-->"><span>Bạn bè</span></a></li>
		<li{$actives['order']}><a href="gohoohgame.php?ac=order&fgid=<!--{$fgid}-->"><span>Xếp hạng</span></a></li>
		<li{$actives['home']}><a href="gohoohgame.php?ac=home"><span>Trang chủ</span></a></li>
		
	</ul>
</div>
<div class="box fglist s_clear">

<ul class="avatar_list">
<li>
<div class="avatar48"><a href="gohoohgame.php?fgid=124">
<img src="game/img/game_124.gif" alt="Cao bồi" /></a></div>
<p><a href="gohoohgame.php?fgid=124">Cao bồi</a></p>
<p class="time">{$pc_124}</p>
</li>
<li>
<div class="avatar48"><a href="gohoohgame.php?fgid=123">
<img src="game/img/game_123.gif" alt="Đi dây" /></a></div>
<p><a href="gohoohgame.php?fgid=123">Đi dây</a></p>
<p class="time">{$pc_123}</p>
</li>
<li>
<div class="avatar48"><a href="gohoohgame.php?fgid=122">
<img src="game/img/game_122.gif" alt="Bắn nỏ" /></a></div>
<p><a href="gohoohgame.php?fgid=122">Bắn nỏ</a></p>
<p class="time">{$pc_122}</p>
</li>
<li>
<div class="avatar48"><a href="gohoohgame.php?fgid=121">
<img src="game/img/game_121.gif" alt="Domino" /></a></div>
<p><a href="gohoohgame.php?fgid=121">Domino</a></p>
<p class="time">{$pc_121}</p>
</li>
<li>
<div class="avatar48"><a href="gohoohgame.php?fgid=120">
<img src="game/img/game_120.gif" alt="Gỡ mìn" /></a></div>
<p><a href="gohoohgame.php?fgid=120">Gỡ mìn</a></p>
<p class="time">{$pc_120}</p>
</li>
<li>
<div class="avatar48""><a href="gohoohgame.php?fgid=100">
<img src="game/img/game_100.gif" alt="Kéo Búa Bao" /></a></div>
<p><a href="gohoohgame.php?fgid=100">Kéo Búa Bao</a></p>
<p class="time">{$pc_100}</p>
</li>
<li>
<div class="avatar48"><a href="gohoohgame.php?fgid=99">
<img src="game/img/game_99.gif" alt="Bập bênh" /></a></div>
<p><a href="gohoohgame.php?fgid=99">Bập bênh</a></p>
<p class="time">{$pc_99}</p>
</li>
<li>
<div class="avatar48"><a href="gohoohgame.php?fgid=98">
<img src="game/img/game_98.gif" alt="Thử tài IQ" /></a></div>
<p><a href="gohoohgame.php?fgid=98">Thử tài IQ</a></p>
<p class="time">{$pc_98}</p>
</li>
<li>
<div class="avatar48"><a href="gohoohgame.php?fgid=116">
<img src="game/img/game_116.gif" alt="Trượt tuyết" /></a></div>
<p><a href="gohoohgame.php?fgid=116">Trượt tuyết</a></p>
<p class="time">{$pc_116}</p>
</li>
<li>
<div class="avatar48"><a href="gohoohgame.php?fgid=115">
<img src="game/img/game_115.gif" alt="Trượt tuyết" /></a></div>
<p><a href="gohoohgame.php?fgid=115">Trượt tuyết</a></p>
<p class="time">{$pc_115}</p>
</li>
<li>
<div class="avatar48"><a href="gohoohgame.php?fgid=114">
<img src="game/img/game_114.gif" alt="Tâng bóng" /></a></div>
<p><a href="gohoohgame.php?fgid=114">Tâng bóng</a></p>
<p class="time">{$pc_114}</p>
</li>
<li>
<div class="avatar48"><a href="gohoohgame.php?fgid=113">
<img src="game/img/game_113.gif" alt="Hái hạt dẻ" /></a></div>
<p><a href="gohoohgame.php?fgid=113">Hái hạt dẻ</a></p>
<p class="time">{$pc_113}</p>
</li>
<li>
<div class="avatar48"><a href="gohoohgame.php?fgid=112">
<img src="game/img/game_112.gif" alt="Đỏ đen" /></a></div>
<p><a href="gohoohgame.php?fgid=112">Đỏ đen</a></p>
<p class="time">{$pc_112}</p>
</li>
<li>
<div class="avatar48"><a href="gohoohgame.php?fgid=111">
<img src="game/img/game_111.gif" alt="Ném tuyết" /></a></div>
<p><a href="gohoohgame.php?fgid=111">Ném tuyết</a></p>
<p class="time">{$pc_111}</p>
</li>
<li>
<div class="avatar48"><a href="gohoohgame.php?fgid=110">
<img src="game/img/game_110.gif" alt="Chim cánh cụt" /></a></div>
<p><a href="gohoohgame.php?fgid=110">Chim cánh cụt</a></p>
<p class="time">{$pc_110}</p>
</li>
<li>
<div class="avatar48"><a href="gohoohgame.php?fgid=109">
<img src="game/img/game_109.gif" alt="Chuyền cây" /></a></div>
<p><a href="gohoohgame.php?fgid=109">Chuyền cây</a></p>
<p class="time">{$pc_109}</p>
</li>
<li>
<div class="avatar48"><a href="gohoohgame.php?fgid=108">
<img src="game/img/game_108.gif" alt="Lướt sóng" /></a></div>
<p><a href="gohoohgame.php?fgid=108">Lướt sóng</a></p>
<p class="time">{$pc_108}</p>
</li>
<li>
<div class="avatar48"><a href="gohoohgame.php?fgid=107">
<img src="game/img/game_107.gif" alt="Chuyền đá" /></a></div>
<p><a href="gohoohgame.php?fgid=107">Chuyền đá</a></p>
<p class="time">{$pc_107}</p>
</li>
<li>
<div class="avatar48"><a href="gohoohgame.php?fgid=106">
<img src="game/img/game_106.gif" alt="Ngôi sao" /></a></div>
<p><a href="gohoohgame.php?fgid=106">Ngôi sao</a></p>
<p class="time">{$pc_106}</p>
</li>
<li>
<div class="avatar48"><a href="gohoohgame.php?fgid=105">
<img src="game/img/game_105.gif" alt="Chim cánh cụt" /></a></div>
<p><a href="gohoohgame.php?fgid=105">Chim cánh cụt</a></p>
<p class="time">{$pc_105}</p>
</li>
<li>
<div class="avatar48"><a href="gohoohgame.php?fgid=104">
<img src="game/img/game_104.gif" alt="Bất động sản" /></a></div>
<p><a href="gohoohgame.php?fgid=104">Bất động sản</a></p>
<p class="time">{$pc_104}</p>
</li>
<li>
<div class="avatar48"><a href="gohoohgame.php?fgid=103">
<img src="game/img/game_103.gif" alt="Đổi hình" /></a></div>
<p><a href="gohoohgame.php?fgid=103">Đổi hình</a></p>
<p class="time">{$pc_103}</p>
</li>
<li>
<div class="avatar48"><a href="gohoohgame.php?fgid=102">
<img src="game/img/game_102.gif" alt="Trượt tuyết" /></a></div>
<p><a href="gohoohgame.php?fgid=102">Trượt tuyết</a></p>
<p class="time">{$pc_102}</p>
</li>
<li>
<div class="avatar48"><a href="gohoohgame.php?fgid=101">
<img src="game/img/game_101.gif" alt="Cánh cụt" /></a></div>
<p><a href="gohoohgame.php?fgid=101">Cánh cụt</a></p>
<p class="time">{$pc_101}</p>
</li>
<li>
<div class="avatar48""><a href="gohoohgame.php?fgid=100">
<img src="game/img/game_100.gif" alt="Kéo Búa Bao" /></a></div>
<p><a href="gohoohgame.php?fgid=100">Kéo Búa Bao</a></p>
<p class="time">{$pc_100}</p>
</li>
<li>
<div class="avatar48"><a href="gohoohgame.php?fgid=99">
<img src="game/img/game_99.gif" alt="Bập bênh" /></a></div>
<p><a href="gohoohgame.php?fgid=99">Bập bênh</a></p>
<p class="time">{$pc_99}</p>
</li>
<li>
<div class="avatar48"><a href="gohoohgame.php?fgid=98">
<img src="game/img/game_98.gif" alt="Thử tài IQ" /></a></div>
<p><a href="gohoohgame.php?fgid=98">Thử tài IQ</a></p>
<p class="time">{$pc_98}</p>
</li>
<li> 
   <div class="avatar48"><a href="gohoohgame.php?fgid=97">
   <img src="game/img/game_97.gif" alt="Lốc xoáy" /></a></div>
<p><a href="gohoohgame.php?fgid=97">Lốc xoáy</a></p>
<p class="time">{$pc_97}</p>
<li> 
   <div class="avatar48"><a href="gohoohgame.php?fgid=96">
   <img src="game/img/game_96.gif" alt="Vệ tinh" /></a></div>
<p><a href="gohoohgame.php?fgid=96">Vệ tinh</a></p>
<p class="time">{$pc_96}</p>
<li> 
   <div class="avatar48"><a href="gohoohgame.php?fgid=95">
   <img src="game/img/game_95.gif" alt="Chim cánh cụt" /></a></div>
<p><a href="gohoohgame.php?fgid=95">Chim cánh cụt</a></p>
<p class="time">{$pc_95}</p>
<li> 
   <div class="avatar48"><a href="gohoohgame.php?fgid=94">
   <img src="game/img/game_94.gif" alt="Tìm thú" /></a></div>
<p><a href="gohoohgame.php?fgid=94">Tìm thú</a></p>
<p class="time">{$pc_94}</p>
<li> 
   <div class="avatar48"><a href="gohoohgame.php?fgid=93">
   <img src="game/img/game_93.gif" alt="Quyền Anh" /></a></div>
<p><a href="gohoohgame.php?fgid=93">Quyền Anh</a></p>
<p class="time">{$pc_93}</p>
<li> 
   <div class="avatar48"><a href="gohoohgame.php?fgid=92">
   <img src="game/img/game_92.gif" alt="Dù lượn" /></a></div>
<p><a href="gohoohgame.php?fgid=92">Dù lượn</a></p>
<p class="time">{$pc_92}</p>
<li> 
   <div class="avatar48"><a href="gohoohgame.php?fgid=91">
   <img src="game/img/game_91.gif" alt="Khúc gôn cầu" /></a></div>
<p><a href="gohoohgame.php?fgid=91">Khúc gôn cầu</a></p>
<p class="time">{$pc_91}</p>
<li> 
   <div class="avatar48"><a href="gohoohgame.php?fgid=90">
   <img src="game/img/game_90.gif" alt="Mèo đập chuột" /></a></div>
<p><a href="gohoohgame.php?fgid=90">Mèo đập chuột</a></p>
<p class="time">{$pc_90}</p>
<li> 
   <div class="avatar48"><a href="gohoohgame.php?fgid=89">
   <img src="game/img/game_89.gif" alt="Đào vàng" /></a></div>
<p><a href="gohoohgame.php?fgid=89">Đào vàng</a></p>
<p class="time">{$pc_89}</p>
<li> 
   <div class="avatar48"><a href="gohoohgame.php?fgid=88">
   <img src="game/img/game_88.gif" alt="Bi da" /></a></div>
<p><a href="gohoohgame.php?fgid=88">Bi da</a></p>
<p class="time">{$pc_88}</p>
<li> 
   <div class="avatar48"><a href="gohoohgame.php?fgid=87">
   <img src="game/img/game_87.gif" alt="Xâu quái thú" /></a></div>
<p><a href="gohoohgame.php?fgid=87">Xâu quái thú</a></p>
<p class="time">{$pc_87}</p>
<li> 
   <div class="avatar48"><a href="gohoohgame.php?fgid=86">
   <img src="game/img/game_86.gif" alt="Đua xe" /></a></div>
<p><a href="gohoohgame.php?fgid=86">Đua xe</a></p>
<p class="time">{$pc_86}</p>
<li> 
   <div class="avatar48"><a href="gohoohgame.php?fgid=85">
   <img src="game/img/game_85.gif" alt="Xe tăng" /></a></div>
<p><a href="gohoohgame.php?fgid=85">Xe tăng</a></p>
<p class="time">{$pc_85}</p>
<li> 
   <div class="avatar48"><a href="gohoohgame.php?fgid=84">
   <img src="game/img/game_84.gif" alt="Đua xe" /></a></div>
<p><a href="gohoohgame.php?fgid=84">Đua xe</a></p>
<p class="time">{$pc_84}</p>
<li> 
   <div class="avatar48"><a href="gohoohgame.php?fgid=83">
   <img src="game/img/game_83.gif" alt="Thám hiểm" /></a></div>
<p><a href="gohoohgame.php?fgid=83">Thám hiểm</a></p>
<p class="time">{$pc_83}</p>
<li> 
   <div class="avatar48"><a href="gohoohgame.php?fgid=82">
   <img src="game/img/game_82.gif" alt="Bóng rỗ" /></a></div>
<p><a href="gohoohgame.php?fgid=82">Bóng rỗ</a></p>
<p class="time">{$pc_82}</p>
<li> 
   <div class="avatar48"><a href="gohoohgame.php?fgid=81">
   <img src="game/img/game_81.gif" alt="Phi đội" /></a></div>
<p><a href="gohoohgame.php?fgid=81">Phi đội</a></p>
<p class="time">{$pc_81}</p>
<li> 
   <div class="avatar48"><a href="gohoohgame.php?fgid=80">
   <img src="game/img/game_80.gif" alt="Kim cương" /></a></div>
<p><a href="gohoohgame.php?fgid=80">Kim cương</a></p>
<p class="time">{$pc_80}</p>
<li> 
   <div class="avatar48"><a href="gohoohgame.php?fgid=79">
   <img src="game/img/game_79.gif" alt="Hoán đổi hình ảnh" /></a></div>
<p><a href="gohoohgame.php?fgid=79">Hoán đổi</a></p>
<p class="time">{$pc_79}</p>
<li> 
   <div class="avatar48"><a href="gohoohgame.php?fgid=78">
   <img src="game/img/game_78.gif" alt="Nhóc con" /></a></div>
<p><a href="gohoohgame.php?fgid=78">Nhóc con</a></p>
<p class="time">{$pc_78}</p>
<li> 
   <div class="avatar48"><a href="gohoohgame.php?fgid=77">
   <img src="game/img/game_77.gif" alt="Biệt đội" /></a></div>
<p><a href="gohoohgame.php?fgid=77">Biệt đội</a></p>
<p class="time">{$pc_77}</p>
<li> 
   <div class="avatar48"><a href="gohoohgame.php?fgid=76">
   <img src="game/img/game_76.gif" alt="Patin" /></a></div>
<p><a href="gohoohgame.php?fgid=76">Patin</a></p>
<p class="time">{$pc_76}</p>
<li> 
   <div class="avatar48"><a href="gohoohgame.php?fgid=75">
   <img src="game/img/game_75.gif" alt="Hái táo" /></a></div>
<p><a href="gohoohgame.php?fgid=75">Hái táo</a></p>
<p class="time">{$pc_75}</p>
<li> 
   <div class="avatar48"><a href="gohoohgame.php?fgid=74">
   <img src="game/img/game_74.gif" alt="Đua xe" /></a></div>
<p><a href="gohoohgame.php?fgid=74">Đua xe</a></p>
<p class="time">{$pc_74}</p>
<li> 
   <div class="avatar48"><a href="gohoohgame.php?fgid=73">
   <img src="game/img/game_73.gif" alt="Săn ác ngư" /></a></div>
<p><a href="gohoohgame.php?fgid=73">Săn ác ngư</a></p>
<p class="time">{$pc_73}</p>
<li> 
   <div class="avatar48"><a href="gohoohgame.php?fgid=72">
   <img src="game/img/game_72.gif" alt="Đại bác" /></a></div>
<p><a href="gohoohgame.php?fgid=72">Đại bác</a></p>
<p class="time">{$pc_72}</p>
<li> 
   <div class="avatar48"><a href="gohoohgame.php?fgid=71">
   <img src="game/img/game_71.gif" alt="Chim cánh cụt" /></a></div>
<p><a href="gohoohgame.php?fgid=71">Chim cánh cụt</a></p>
<p class="time">{$pc_71}</p>
<li> 
   <div class="avatar48"><a href="gohoohgame.php?fgid=70">
   <img src="game/img/game_70.gif" alt="Siêu quậy" /></a></div>
<p><a href="gohoohgame.php?fgid=70">Siêu quậy</a></p>
<p class="time">{$pc_70}</p>
<li> 
   <div class="avatar48"><a href="gohoohgame.php?fgid=69">
   <img src="game/img/game_69.gif" alt="Thiên thần 2" /></a></div>
<p><a href="gohoohgame.php?fgid=69">Thiên thần 2</a></p>
<p class="time">{$pc_69}</p>
<li> 
   <div class="avatar48"><a href="gohoohgame.php?fgid=68">
   <img src="game/img/game_68.gif" alt="Thiên thần 1" /></a></div>
<p><a href="gohoohgame.php?fgid=68">Thiên thần 1</a></p>
<p class="time">{$pc_68}</p>
<li> 
   <div class="avatar48"><a href="gohoohgame.php?fgid=67">
   <img src="game/img/game_67.gif" alt="Bắn đĩa bay" /></a></div>
<p><a href="gohoohgame.php?fgid=67">Bắn đĩa bay</a></p>
<p class="time">{$pc_67}</p>
<li> 
   <div class="avatar48"><a href="gohoohgame.php?fgid=66">
   <img src="game/img/game_66.gif" alt="Đuổi bọ" /></a></div>
<p><a href="gohoohgame.php?fgid=66">Đuổi bọ</a></p>
<p class="time">{$pc_66}</p>
<li> 
   <div class="avatar48"><a href="gohoohgame.php?fgid=65">
   <img src="game/img/game_65.gif" alt="Bowling" /></a></div>
<p><a href="gohoohgame.php?fgid=65">Bowling</a></p>
<p class="time">{$pc_65}</p>
<li> 
   <div class="avatar48"><a href="gohoohgame.php?fgid=64">
   <img src="game/img/game_64.gif" alt="Dù lượn" /></a></div>
<p><a href="gohoohgame.php?fgid=64">Dù lượn</a></p>
<p class="time">{$pc_64}</p>
<li> 
   <div class="avatar48"><a href="gohoohgame.php?fgid=63">
   <img src="game/img/game_63.gif" alt="Bắn vệ tinh" /></a></div>
<p><a href="gohoohgame.php?fgid=63">Bắn vệ tinh</a></p>
<p class="time">{$pc_63}</p>
<li> 
   <div class="avatar48"><a href="gohoohgame.php?fgid=62">
   <img src="game/img/game_62.gif" alt="Khúc gôn cầu" /></a></div>
<p><a href="gohoohgame.php?fgid=62">Khúc gôn cầu</a></p>
<p class="time">{$pc_62}</p>
<li> 
   <div class="avatar48"><a href="gohoohgame.php?fgid=61">
   <img src="game/img/game_61.gif" alt="Đập trứng" /></a></div>
<p><a href="gohoohgame.php?fgid=61">Đập trứng</a></p>
<p class="time">{$pc_61}</p>
<li> 
   <div class="avatar48"><a href="gohoohgame.php?fgid=60">
   <img src="game/img/game_60.gif" alt="Cá săn mồi" /></a></div>
<p><a href="gohoohgame.php?fgid=60">Cá săn mồi</a></p>
<p class="time">{$pc_60}</p>
<li> 
   <div class="avatar48"><a href="gohoohgame.php?fgid=59">
   <img src="game/img/game_59.gif" alt="Lướt sóng" /></a></div>
<p><a href="gohoohgame.php?fgid=59">Lướt sóng</a></p>
<p class="time">{$pc_59}</p>
<li> 
   <div class="avatar48"><a href="gohoohgame.php?fgid=58">
   <img src="game/img/game_58.gif" alt="Đua xe" /></a></div>
<p><a href="gohoohgame.php?fgid=58">Đua xe</a></p>
<p class="time">{$pc_58}</p>
<li> 
   <div class="avatar48"><a href="gohoohgame.php?fgid=57">
   <img src="game/img/game_57.gif" alt="Bắn cung" /></a></div>
<p><a href="gohoohgame.php?fgid=57">Bắn cung</a></p>
<p class="time">{$pc_57}</p>
<li> 
   <div class="avatar48"><a href="gohoohgame.php?fgid=56">
   <img src="game/img/game_56.gif" alt="Bóng chày" /></a></div>
<p><a href="gohoohgame.php?fgid=56">Bóng chày</a></p>
<p class="time">{$pc_56}</p>
<li> 
   <div class="avatar48"><a href="gohoohgame.php?fgid=55">
   <img src="game/img/game_55.gif" alt="Đóng đinh" /></a></div>
<p><a href="gohoohgame.php?fgid=55">Đóng đinh</a></p>
<p class="time">{$pc_55}</p>
<li> 
   <div class="avatar48"><a href="gohoohgame.php?fgid=54">
   <img src="game/img/game_54.gif" alt="Bánh ngọt" /></a></div>
<p><a href="gohoohgame.php?fgid=54">Bánh ngọt</a></p>
<p class="time">{$pc_54}</p>
<li> 
   <div class="avatar48"><a href="gohoohgame.php?fgid=53">
   <img src="game/img/game_53.gif" alt="Hái sao" /></a></div>
<p><a href="gohoohgame.php?fgid=53">Hái sao</a></p>
<p class="time">{$pc_53}</p>
<li> 
   <div class="avatar48"><a href="gohoohgame.php?fgid=52">
   <img src="game/img/game_52.gif" alt="Siêu trộm" /></a></div>
<p><a href="gohoohgame.php?fgid=52">Siêu trộm</a></p>
<p class="time">{$pc_52}</p>
<li> 
   <div class="avatar48"><a href="gohoohgame.php?fgid=51">
   <img src="game/img/game_51.gif" alt="Trái cây" /></a></div>
<p><a href="gohoohgame.php?fgid=51">Trái cây</a></p>
<p class="time">{$pc_51}</p>
<li> 
   <div class="avatar48"><a href="gohoohgame.php?fgid=50">
   <img src="game/img/game_50.gif" alt="Chiến đấu" /></a></div>
<p><a href="gohoohgame.php?fgid=50">Chiến đấu</a></p>
<p class="time">{$pc_50}</p>
<li> 
   <div class="avatar48"><a href="gohoohgame.php?fgid=49">
   <img src="game/img/game_49.gif" alt="Say rượu" /></a></div>
<p><a href="gohoohgame.php?fgid=49">Say rượu</a></p>
<p class="time">{$pc_49}</p>
<li> 
   <div class="avatar48"><a href="gohoohgame.php?fgid=48">
   <img src="game/img/game_48.gif" alt="Siêu trộm " /></a></div>
<p><a href="gohoohgame.php?fgid=48">Siêu trộm </a></p>
<p class="time">{$pc_48}</p>
<li> 
   <div class="avatar48"><a href="gohoohgame.php?fgid=47">
   <img src="game/img/game_47.gif" alt="Trượt tuyết" /></a></div>
<p><a href="gohoohgame.php?fgid=47">Trượt tuyết</a></p>
<p class="time">{$pc_47}</p>
<li> 
   <div class="avatar48"><a href="gohoohgame.php?fgid=46">
   <img src="game/img/game_46.gif" alt="Khỉ con" /></a></div>
<p><a href="gohoohgame.php?fgid=46">Khỉ con</a></p>
<p class="time">{$pc_46}</p>
<li> 
   <div class="avatar48"><a href="gohoohgame.php?fgid=45">
   <img src="game/img/game_45.gif" alt="Rắn săn mồi" /></a></div>
<p><a href="gohoohgame.php?fgid=45">Rắn săn mồi</a></p>
<p class="time">{$pc_45}</p>
<li> 
   <div class="avatar48"><a href="gohoohgame.php?fgid=44">
   <img src="game/img/game_44.gif" alt="Câu cá" /></a></div>
<p><a href="gohoohgame.php?fgid=44">Câu cá</a></p>
<p class="time">{$pc_44}</p>
<li> 
   <div class="avatar48"><a href="gohoohgame.php?fgid=43">
   <img src="game/img/game_43.gif" alt="Lửa đạn" /></a></div>
<p><a href="gohoohgame.php?fgid=43">Lửa đạn</a></p>
<p class="time">{$pc_43}</p>
<li> 
   <div class="avatar48"><a href="gohoohgame.php?fgid=42">
   <img src="game/img/game_42.gif" alt="Bập bênh" /></a></div>
<p><a href="gohoohgame.php?fgid=42">Bập bênh</a></p>
<p class="time">{$pc_42}</p>
<li> 
   <div class="avatar48"><a href="gohoohgame.php?fgid=41">
   <img src="game/img/game_41.gif" alt="Kho báu" /></a></div>
<p><a href="gohoohgame.php?fgid=41">Kho báu</a></p>
<p class="time">{$pc_41}</p>
<li> 
   <div class="avatar48"><a href="gohoohgame.php?fgid=40">
   <img src="game/img/game_40.gif" alt="Bong bóng" /></a></div>
<p><a href="gohoohgame.php?fgid=40">Bong bóng</a></p>
<p class="time">{$pc_40}</p>
<li> 
   <div class="avatar48"><a href="gohoohgame.php?fgid=39">
   <img src="game/img/game_39.gif" alt="Rác thải" /></a></div>
<p><a href="gohoohgame.php?fgid=39">Rác thải</a></p>
<p class="time">{$pc_39}</p>
<li> 
   <div class="avatar48"><a href="gohoohgame.php?fgid=38">
   <img src="game/img/game_38.gif" alt="Trứng vàng" /></a></div>
<p><a href="gohoohgame.php?fgid=38">Trứng vàng</a></p>
<p class="time">{$pc_38}</p>
<li> 
   <div class="avatar48"><a href="gohoohgame.php?fgid=37">
   <img src="game/img/game_37.gif" alt="Nàng tiên" /></a></div>
<p><a href="gohoohgame.php?fgid=37">Nàng tiên</a></p>
<p class="time">{$pc_37}</p>
<li> 
   <div class="avatar48"><a href="gohoohgame.php?fgid=36">
   <img src="game/img/game_36.gif" alt="Gà con" /></a></div>
<p><a href="gohoohgame.php?fgid=36">Gà con</a></p>
<p class="time">{$pc_36}</p>
<li> 
   <div class="avatar48"><a href="gohoohgame.php?fgid=35">
   <img src="game/img/game_35.gif" alt="Tâng bóng" /></a></div>
<p><a href="gohoohgame.php?fgid=35">Tâng bóng</a></p>
<p class="time">{$pc_35}</p>
<li> 
   <div class="avatar48"><a href="gohoohgame.php?fgid=34">
   <img src="game/img/game_34.gif" alt="Khỉ con " /></a></div>
<p><a href="gohoohgame.php?fgid=34">Khỉ con </a></p>
<p class="time">{$pc_34}</p>
<li> 
   <div class="avatar48"><a href="gohoohgame.php?fgid=33">
   <img src="game/img/game_33.gif" alt="Bánh ngọt" /></a></div>
<p><a href="gohoohgame.php?fgid=33">Bánh ngọt</a></p>
<p class="time">{$pc_33}</p>
<li> 
   <div class="avatar48"><a href="gohoohgame.php?fgid=32">
   <img src="game/img/game_32.gif" alt="Nhảy dây" /></a></div>
<p><a href="gohoohgame.php?fgid=32">Nhảy dây</a></p>
<p class="time">{$pc_32}</p>
<li> 
   <div class="avatar48"><a href="gohoohgame.php?fgid=31">
   <img src="game/img/game_31.gif" alt="Mũ xanh" /></a></div>
<p><a href="gohoohgame.php?fgid=31">Mũ xanh</a></p>
<p class="time">{$pc_31}</p>
<li> 
   <div class="avatar48"><a href="gohoohgame.php?fgid=30">
   <img src="game/img/game_30.gif" alt="Nụ hôn" /></a></div>
<p><a href="gohoohgame.php?fgid=30">Nụ hôn</a></p>
<p class="time">{$pc_30}</p>
<li> 
   <div class="avatar48"><a href="gohoohgame.php?fgid=29">
   <img src="game/img/game_29.gif" alt="Vệ tinh" /></a></div>
<p><a href="gohoohgame.php?fgid=29">Vệ tinh</a></p>
<p class="time">{$pc_29}</p>
<li> 
   <div class="avatar48"><a href="gohoohgame.php?fgid=28">
   <img src="game/img/game_28.gif" alt="Đấu võ đài" /></a></div>
<p><a href="gohoohgame.php?fgid=28">Đấu võ đài</a></p>
<p class="time">{$pc_28}</p>
<li> 
   <div class="avatar48"><a href="gohoohgame.php?fgid=27">
   <img src="game/img/game_27.gif" alt="Nhảy ván" /></a></div>
<p><a href="gohoohgame.php?fgid=27">Nhảy ván</a></p>
<p class="time">{$pc_27}</p>
<li> 
   <div class="avatar48"><a href="gohoohgame.php?fgid=26">
   <img src="game/img/game_26.gif" alt="Câu cá" /></a></div>
<p><a href="gohoohgame.php?fgid=26">Câu cá</a></p>
<p class="time">{$pc_26}</p>
<li> 
   <div class="avatar48"><a href="gohoohgame.php?fgid=25">
   <img src="game/img/game_25.gif" alt="Bắn bi" /></a></div>
<p><a href="gohoohgame.php?fgid=25">Bắn bi</a></p>
<p class="time">{$pc_25}</p>
<li> 
   <div class="avatar48"><a href="gohoohgame.php?fgid=24">
   <img src="game/img/game_24.gif" alt="Sid" /></a></div>
<p><a href="gohoohgame.php?fgid=24">Sid</a></p>
<p class="time">{$pc_24}</p>
<li> 
   <div class="avatar48"><a href="gohoohgame.php?fgid=23">
   <img src="game/img/game_23.gif" alt="Hứng hạt dẻ" /></a></div>
<p><a href="gohoohgame.php?fgid=23">Hứng hạt dẻ</a></p>
<p class="time">{$pc_23}</p>
<li> 
   <div class="avatar48"><a href="gohoohgame.php?fgid=22">
   <img src="game/img/game_22.gif" alt="Đào mỏ" /></a></div>
<p><a href="gohoohgame.php?fgid=22">Đào mỏ</a></p>
<p class="time">{$pc_22}</p>
<li> 
   <div class="avatar48"><a href="gohoohgame.php?fgid=21">
   <img src="game/img/game_21.gif" alt="Đỏ Đen" /></a></div>
<p><a href="gohoohgame.php?fgid=21">Đỏ Đen</a></p>
<p class="time">{$pc_21}</p>
<li> 
   <div class="avatar48"><a href="gohoohgame.php?fgid=20">
   <img src="game/img/game_20.gif" alt="Bi da lỗ" /></a></div>
<p><a href="gohoohgame.php?fgid=20">Bi da lỗ</a></p>
<p class="time">{$pc_20}</p>
<li> 
   <div class="avatar48"><a href="gohoohgame.php?fgid=19">
   <img src="game/img/game_19.gif" alt="Thiện xạ" /></a></div>
<p><a href="gohoohgame.php?fgid=19">Thiện xạ</a></p>
<p class="time">{$pc_19}</p>
<li> 
   <div class="avatar48"><a href="gohoohgame.php?fgid=18">
   <img src="game/img/game_18.gif" alt="Đua xe" /></a></div>
<p><a href="gohoohgame.php?fgid=18">Đua xe</a></p>
<p class="time">{$pc_18}</p>
<li> 
   <div class="avatar48"><a href="gohoohgame.php?fgid=17">
   <img src="game/img/game_17.gif" alt="Girl VS Boy" /></a></div>
<p><a href="gohoohgame.php?fgid=17">Girl VS Boy</a></p>
<p class="time">{$pc_17}</p>
<li> 
   <div class="avatar48"><a href="gohoohgame.php?fgid=16">
   <img src="game/img/game_16.gif" alt="Bóng rổ" /></a></div>
<p><a href="gohoohgame.php?fgid=16">Bóng rổ</a></p>
<p class="time">{$pc_16}</p>
<li> 
   <div class="avatar48"><a href="gohoohgame.php?fgid=15">
   <img src="game/img/game_15.gif" alt="Bong bóng" /></a></div>
<p><a href="gohoohgame.php?fgid=15">Bong bóng</a></p>
<p class="time">{$pc_15}</p>
<li> 
   <div class="avatar48"><a href="gohoohgame.php?fgid=14">
   <img src="game/img/game_14.gif" alt="Audition" /></a></div>
<p><a href="gohoohgame.php?fgid=14">Audition</a></p>
<p class="time">{$pc_14}</p>
<li> 
   <div class="avatar48"><a href="gohoohgame.php?fgid=13">
   <img src="game/img/game_13.gif" alt="Xếp tháp" /></a></div>
<p><a href="gohoohgame.php?fgid=13">Xếp tháp</a></p>
<p class="time">{$pc_13}</p>
<li> 
   <div class="avatar48"><a href="gohoohgame.php?fgid=12">
   <img src="game/img/game_12.gif" alt="Ragnarok" /></a></div>
<p><a href="gohoohgame.php?fgid=12">Ragnarok</a></p>
<p class="time">{$pc_12}</p>
<li> 
   <div class="avatar48"><a href="gohoohgame.php?fgid=11">
   <img src="game/img/game_11.gif" alt="Tennis" /></a></div>
<p><a href="gohoohgame.php?fgid=11">Tennis</a></p>
<p class="time">{$pc_11}</p>
<li> 
   <div class="avatar48"><a href="gohoohgame.php?fgid=10">
   <img src="game/img/game_10.gif" alt="Đỗ xe" /></a></div>
<p><a href="gohoohgame.php?fgid=10">Đỗ xe</a></p>
<p class="time">{$pc_10}</p>
<li> 
   <div class="avatar48"><a href="gohoohgame.php?fgid=9">
   <img src="game/img/game_9.gif" alt="Bóng đá" /></a></div>
<p><a href="gohoohgame.php?fgid=9">Bóng đá</a></p>
<p class="time">{$pc_9}</p>
<li> 
   <div class="avatar48"><a href="gohoohgame.php?fgid=8">
   <img src="game/img/game_8.gif" alt="Đột kích" /></a></div>
<p><a href="gohoohgame.php?fgid=8">Đột kích</a></p>
<p class="time">{$pc_8}</p>
<li> 
   <div class="avatar48"><a href="gohoohgame.php?fgid=7">
   <img src="game/img/game_7.gif" alt="Rồng con" /></a></div>
<p><a href="gohoohgame.php?fgid=7">Rồng con</a></p>
<p class="time">{$pc_7}</p>
<li> 
   <div class="avatar48"><a href="gohoohgame.php?fgid=6">
   <img src="game/img/game_6.gif" alt="Máy bay" /></a></div>
<p><a href="gohoohgame.php?fgid=6">Máy bay</a></p>
<p class="time">{$pc_6}</p>
<li> 
   <div class="avatar48"><a href="gohoohgame.php?fgid=5">
   <img src="game/img/game_5.gif" alt="Chạy đua" /></a></div>
<p><a href="gohoohgame.php?fgid=5">Chạy đua</a></p>
<p class="time">{$pc_5}</p>
<li> 
   <div class="avatar48"><a href="gohoohgame.php?fgid=4">
   <img src="game/img/game_4.gif" alt="Super Star" /></a></div>
<p><a href="gohoohgame.php?fgid=4">Super Star</a></p>
<p class="time">{$pc_4}</p>
<li> 
   <div class="avatar48"><a href="gohoohgame.php?fgid=3">
   <img src="game/img/game_3.gif" alt="Chim cánh cụt" /></a></div>
<p><a href="gohoohgame.php?fgid=3">Chim cánh cụt</a></p>
<p class="time">{$pc_3}</p>
<li> 
   <div class="avatar48"><a href="gohoohgame.php?fgid=2">
   <img src="game/img/game_2.gif" alt="Dược sỹ" /></a></div>
<p><a href="gohoohgame.php?fgid=2">Dược sỹ</a></p>
<p class="time">{$pc_2}</p>
<li> 
   <div class="avatar48"><a href="gohoohgame.php?fgid=1">
   <img src="game/img/game_1.gif" alt="Đào vàng" /></a></div>
<p><a href="gohoohgame.php?fgid=1">Đào vàng</a></p>
<p class="time">{$pc_1}</p>
</div>

</div>
<!--{template footer}-->