<!--{tpl inc_header}-->

<div id="main">
	<div class="menu">
		<!--{php $actives[$mod_name.'_'.$type] = ' class="actives"';}-->
		<a{:$actives[market_nc_index]} href="tools.php?mod=market&act=nc&type=index">农场市场</a>
		<a{:$actives[market_nc_myitem]} href="tools.php?mod=market&act=nc&type=myitem">农场物品</a>
		<a{:$actives[market_nc_myproduct]} href="tools.php?mod=market&act=nc&type=myproduct">农场产品</a>
		<a{:$actives[market_mc_index]} href="tools.php?mod=market&act=mc&type=index">牧场市场</a>
		<a{:$actives[market_mc_myproduct]} href="tools.php?mod=market&act=mc&type=myproduct">牧场产品</a>
	</div>
	<div id="help_tabs"></div>
	<div class="list">
		<table>
			<tr style=" font-size:12px; height:20px">
				<th width="80">交易号</th>
				<th width="50">分类</th>
				<th width="80">名称</th>
				<th width="70">样式</th>
				<th width="40">等级</th>
				<th width="100">农场单价</th>
				<th width="100">用户售单价</th>
				<th width="70">数量</th>
				<th width="80">出售人</th>
				<th width="100">购买数量</th>
				<th width="100">执行操作</th>
				<th width="100"><font color="#ff0000">与农场价</font></th>
			</tr>
	<!--{foreach $list as $key=>$value}-->
			<tr style=" font-size:12px; height:20px">
				<td>{:$value[id]}</td>
				<td><!--{if $value[mclass] == 1}--><font color="#0000ff">种子</font><!--{elseif $value[mclass] == 2}--><font color="#ff00ff"><b>道具</b></font><!--{elseif $value[mclass] == 3}--><font color="#ff0000">产品</font><!--{/if}--></td>
				<td>{:$value[cname]}</td>
				<!--{if $value[mclass] == 2}--><td><img src="module/ui/farm/icon/{:$value[cid]+30000}.png" height="24px"/></td> 
                <!--{else}--><td><img src="module/ui/farm/icon/{:$value[cid]}.png" height="24px"/></td>
                <!--{/if}-->
				<td>{:$cropstype[$value[cid]]['cLevel']}</td>
				<!--{if $value[mclass] == 3}-->
				<td><font color=blue>{:$cropstype[$value[cid]]['sale']}</font>金币</td>
				<!--{elseif $value[mclass] == 2}-->
				<td><font color=blue>{:$toolstype[$value[cid]+30000]['price']}</font>金币</td>
				<!--{else}-->
				<td><font color=blue>{:$cropstype[$value[cid]]['price']}</font>金币</td>
				<!--{/if}-->
				<td><font color="#ff0000">{:$value[cprice]}</font>金币</td>
				<td><font color="#ff00ff">{:$value[cnumber]}</font>个</td>
				<td><font color="#0000ff">{:$value[username]}</font></td>
				<td><input type='text' id='number{:$value[id]}' size='10' value="{:$value[cnumber]}"/></td>
				<!--{if $_QFG['uid'] == $value[selluid]}-->
				<td><input type="button" onclick='request("tools.php?mod=market&act=nc&type=cancelitem&id={:$value[id]}", "state{:$value[id]}");' value='取消' /><span id="state{:$value[id]}"></span></td>
				<!--{else}-->
				<td><input type="button" onclick='request("tools.php?mod=market&act=nc&type=buyitem&id={:$value[id]}&number="+SQuery("#number{:$value[id]}").value, "state{:$value[id]}");' value='购买' /><span id="state{:$value[id]}"></span></td>
				<!--{/if}-->
		<!--{if $value[mclass] == 3}-->
			<!--{if $cropstype[$value[cid]]['sale']-$value[cprice]<>0}-->
				<!--{if $cropstype[$value[cid]]['sale']-$value[cprice]>0}-->
				<td>跌<font color="#0000ff">{:$cropstype[$value[cid]]['sale']-$value[cprice]}</font>金币</td> 
				<!--{else}-->
				<td>涨<font color="#ff0000">{:$value[cprice]-$cropstype[$value[cid]]['sale']}</font>金币</td>
				<!--{/if}-->
			<!--{else}-->
			<td><font color="#ff00ff">价钱一样</font></td> 
			<!--{/if}-->
		<!--{elseif $value[mclass] == 2}-->
			<!--{if $toolstype[$value[cid]+30000]['price']-$value[cprice]<>0}-->
				<!--{if $toolstype[$value[cid]+30000]['price']-$value[cprice]>0}-->
				<td>跌<font color="#0000ff">{:$toolstype[$value[cid]+30000]['price']-$value[cprice]}</font>金币</td> 
				<!--{else}-->
				<td>涨<font color="#ff0000">{:$value[cprice]-$toolstype[$value[cid]+30000]['price']}</font>金币</td> 
				<!--{/if}-->
			<!--{else}-->
				<td><font color="#ff00ff">价钱一样</font></td> 
			<!--{/if}-->
		<!--{else}-->
			<!--{if $cropstype[$value[cid]]['price']-$value[cprice]<>0}-->
				<!--{if $cropstype[$value[cid]]['price']-$value[cprice]>0}-->
				<td>跌<font color="#0000ff">{:$cropstype[$value[cid]]['price']-$value[cprice]}</font>金币</td> 
				<!--{else}-->
				<td>涨<font color="#ff0000">{:$value[cprice]-$cropstype[$value[cid]]['price']}</font>金币</td> 
				<!--{/if}-->
			<!--{else}-->
				<td><font color="#ff00ff">价钱一样</font></td> 
			<!--{/if}-->
		<!--{/if}-->
			</tr>
	<!--{/foreach}-->
		</table>
	</div>
	<div id="pages" class="multiPage"></div>
</div>

<script type="text/javascript">
	$('#pages').innerHTML = multiPage({pid:"{:$pid}",purl:"{:$purl}",psize:"{:$psize}",count:"{:$count}"});
</script>
<!--{tpl inc_footer}-->
