<!--{tpl inc_header}-->

<div id="main">

	<div class="menu">
		<!--{php $actives[$mod_name] = ' class="actives"';}-->
		<a{:$actives[home]} href="admin.php?mod=home">Trang chính</a>
		<a{:$actives[quick]} href="admin.php?mod=quick">Sửa nhanh</a>
		<a{:$actives[system]} href="admin.php?mod=system">Hệ thống</a>
		<a{:$actives[notice]} href="admin.php?mod=notice">Thông báo</a>
		<a{:$actives[user_list]} href="admin.php?mod=user_list">User</a>
		<a{:$actives[cropstype_list]} href="admin.php?mod=cropstype_list">List Cây</a>
		<a{:$actives[itemtype_list]} href="admin.php?mod=itemtype_list">List Item</a>
		<a{:$actives[toolstype_list]} href="admin.php?mod=toolstype_list">List Tool</a>
		<a{:$actives[animaltype_list]} href="admin.php?mod=animaltype_list">List Pet</a>
		<a href="http://www.gohooh.com/" target="_blank">GoHooH</a>
	</div>

	<div id="main_admin">
