<!--Code Ucenter Home GoHooH Full - Full mod - full game - full skin hack by GoHooH.CoM-->
<!--More template, game, mod, plugins for Discuz!, Ucenter Home at http://www.gohooh.com/forum/-->
<!--{template header}-->
<!--Việt hóa bởi http://www.gohooh.com - hỗ trợ Ucenter Home số 1 Việt Nam-->

<!--{template cp_header}-->

<div class="c_form">
	<form method="post" action="cp.php?ac=domain&op=">
	<table cellspacing="0" cellpadding="0" class="formtable">
		<caption>
			<h2>Địa chỉ nhà tui</h2>
			<p>Địa chỉ không gian phải từ $domainlength đến 30 ký tự và bắt đầu bằng chữ.</p>
		</caption>
		<!--{if $space[domain] && $dcredit}-->
		<tr>
			<th width="100">Tiền</th>
			<td><img src="image/credit.gif" align="absmiddle"> Để thay đổi địa chỉ blog, bạn cần $dcredit gyn; bạn đang có $space[credit] gyn.</td>
		</tr>
		<!--{/if}-->
		<tr>
			<th width="100">Địa chủ nhà tui</th>
			<td>http://<input type="text" name="domain" value="$space[domain]" size="10" class="t_input" />.{$_SCONFIG[domainroot]}</td>
		</tr>
		<tr>
			<th>&nbsp;</th>
			<td><input type="submit" name="domainsubmit" value="Thay đổi" class="submit" /></td>
		</tr>
	</table>
	<input type="hidden" name="formhash" value="<!--{eval echo formhash();}-->" />
	</form>
</div>

<!--{template footer}-->