<!--Code Ucenter Home GoHooH Full - Full mod - full game - full skin hack by GoHooH.CoM-->
<!--More template, game, mod, plugins for Discuz!, Ucenter Home at http://www.gohooh.com/forum/-->
<!--{template header}-->
<!--Việt hóa bởi http://www.gohooh.com - hỗ trợ Ucenter Home số 1 Việt Nam-->

<!--{if $_GET[op]=='manage'}-->

	<!--{if $_GET['subop'] != 'member'}-->
	<h2 class="title"><img src="image/app/mtag.gif" /> Nhóm - $mtag[tagname]</h2>
	<div class="tabs_header">
		<ul class="tabs">
		<!--{if $mtag['grade'] >= 8}-->
			<li$actives[base]><a href="cp.php?ac=mtag&op=manage&tagid=$mtag[tagid]&subop=base"><span>Cài đặt</span></a></li>
		<!--{/if}-->
		<!--{if $mtag['allowinvite']}-->
			<li$actives[invite]><a href="cp.php?ac=mtag&op=manage&tagid=$mtag[tagid]&subop=invite"><span>Mời bạn bè</span></a></li>
		<!--{/if}-->
		<!--{if $mtag['grade'] >= 8}-->
			<li$actives[members]><a href="cp.php?ac=mtag&op=manage&tagid=$mtag[tagid]&subop=members"><span>Quản lý</span></a></li>
			<li$actives[thread]><a href="cp.php?ac=mtag&op=manage&tagid=$mtag[tagid]&subop=thread"><span>Chủ đề</span></a></li>
		<!--{/if}-->
		<li><a href="space.php?do=mtag&tagid=$mtag[tagid]"><span>Trang chủ</span></a></li>
		</ul>
		<!--{if ($actives[members] || $mtag['allowinvite']) && ($_GET['subop'] == 'invite' || $_GET['subop'] == 'members')}-->
		<script>
			function searchUser() {
				$('searchform').submit();
			}
		</script>
		<form name="searchform" id="searchform" method="get" action="cp.php">
			<div style="float:right;margin:0 6px 5px 0;">
				<table cellspacing="0" cellpadding="0">
					<tr>
						<td style="padding: 0;"><input type="text" id="key" name="key" value="Search" onfocus="if(this.value=='Members')this.value='';" class="t_input" tabindex="1" style="width: 160px; border-right: none;" /></td>
						<td style="padding: 0;"><a href="javascript:searchUser();"><img src="image/search_btn.gif" alt="Search" /></a></td>
					</tr>
				</table>
			</div>
			<input type="hidden" name="ac" value="mtag">
			<input type="hidden" name="op" value="manage">
			<input type="hidden" name="tagid" value="$mtag[tagid]">
			<input type="hidden" name="subop" value="$_GET[subop]">
			<input type="hidden" name="uid" value="$_GET[uid]">
			<input type="hidden" name="grade" value="$_GET[grade]">
			<input type="hidden" name="formhash" value="<!--{eval echo formhash();}-->" />
		</form>
		<!--{/if}-->
	</div>
	<!--{/if}-->
	
	<form id="manageform" name="manageform" method="post" action="cp.php?ac=mtag&op=manage&tagid=$mtag[tagid]&subop=$_GET[subop]&uid=$_GET[uid]&grade=$_GET[grade]&group=$_GET[group]&page=$_GET[page]&start=$_GET[start]">
	
	<!--{if $_GET['subop'] == 'base'}-->
	
	<table cellspacing="4" cellpadding="4" class="formtable">
	<tr>
		<th width="100">Tên nhóm</th>
		<td>$mtag[tagname]</td>
	</tr>
	<tr>
		<th width="100"><label for="pic">Logo nhóm</label></th>
		<td><input id="pic" type="text" name="pic" value="$mtag[pic]" size="80" class="t_input" /><br />(Logo bắt đầu bằng http:// ) Gợi ý: hãy up ảnh vào album, rồi copy địa chỉ của ảnh -> pase vào đây (click chuột phải vào ảnh rồi chọn Properties)</td>
	</tr>
	<tr>
		<th>
			<label for="announcement">Thông báo</label>
		</th>
		<td>
			<textarea id="announcement" name="announcement" cols="80" rows="5">$mtag[announcement]</textarea>
			<p class="gray">Tối đa <strong>10000</strong> ký tự</p>	
		</td>
	</tr>
	
	<!--{if $mtag[grade]==9}-->
	<!--{if $field['manualmember']}-->
	<tr>
		<th width="100">Cài đặt</th>
		<td>
			<select name="joinperm">
			<option value="0"$joinperms[0]>Nhóm mở (ai cũng có thể tham gia)</option>
			<option value="1"$joinperms[1]>Nhóm an toàn (kiểm duyệt mới được tham gia)</option>
			<option value="2"$joinperms[2]>Nhóm đóng (tham gia phải có lời mời)</option>
			</select>
		</td>
	</tr>
	<!--{else}-->
	<tr>
		<th width="100">Quyền hạn</th>
		<td>Mọi người có thể add lẫn nhau</td>
	</tr>
	<!--{/if}-->
	<tr>
		<th width="100">Quyền hạn</th>
		<td>
			<select name="viewperm">
			<option value="0"$viewperms[0]>Công cộng (Ai cũng có thể xem)</option>
			<option value="1"$viewperms[1]>Riêng tư (Chỉ có thành viên mới được xem)</option>
			</select>
			<br>Nếu chọn  ở chế độ "Riêng tư" thì nhựng thông tin về bài viết và các thông tin liên quan sẽ không hiện trong Feed thành viên.
		</td>
	</tr>
	<tr>
		<th width="100">Thảo luận</th>
		<td>
			<select name="threadperm">
			<option value="0"$threadperms[0]>Quản lý nhóm mới được quyền mở Topic</option>
			<option value="1"$threadperms[1]>Ai cũng được quyền mở Topic</option>
			</select>
		</td>
	</tr>
	<tr>
		<th width="100">Bình luận</th>
		<td>
			<select name="postperm">
			<option value="0"$postperms[0]>Thành viên mới được quyền bình luận</option>
			<option value="1"$postperms[1]>Mọi người đều được quyền bình luận</option>
			</select>
		</td>
	</tr>
	
	<tr>
		<th>Nhóm thành viên mới</th>
		<td>
			<input type="radio" name="closeapply" value="0" $closeapply[0]/> Mở
			<input type="radio" name="closeapply" value="1" $closeapply[1]/> Đóng
		</td>
	</tr>
	<!--{/if}-->
	
	<tr>
		<th>&nbsp;</th>
		<td>
		<input type="submit" name="basesubmit" value="Lưu" class="submit" />&nbsp;
		</td>
	</tr>
	</table>
	
	<!--{elseif $_GET['subop'] == 'thread'}-->
	
	<table cellspacing="0" cellpadding="0" class="formtable">
	<tr>
		<td>
		Đăng nhập vào Group Control Panel để quản lý nhóm.<br>
		<br><a href="admincp.php?ac=thread&&perpage=20&tagid=$mtag[tagid]&searchsubmit=1" class="submit">Quản lý topic</a> &nbsp; 
		<a href="admincp.php?ac=post&&perpage=20&tagid=$mtag[tagid]&searchsubmit=1" class="submit">Quản lý bình luận</a>
		</td>
	</tr>
	</table>
	
	<!--{elseif $_GET['subop'] == 'invite'}-->
	
	<div id="content" style="width: 640px;">
		<div class="h_status">
			Bạn có thể mời bạn bè tham gia nhóm này!
		</div>
	
	<!--{if $list}-->
		<div class="h_status">
			<ul class="avatar_list">
			<!--{loop $list $value}-->
				<li><div class="avatar48"><a href="space.php?uid=$value[fuid]" title="{$_SN[$value[fuid]]}"><!--{avatar($value[fuid],small)}--></a></div>
					<p><a href="space.php?uid=$value[fuid]" title="{$_SN[$value[fuid]]}">{$_SN[$value[fuid]]}</a></p>
					<p><!--{if empty($joins[$value[fuid]])}--><input type="checkbox" name="ids[]" value="$value[fuid]">Đã kiểm tra<!--{else}--> đã mời<!--{/if}--></p>
				</li>
			<!--{/loop}-->
			</ul>
			<div class="page">$multi</div>
		</div>
		<p>
			<input type="checkbox" id="chkall" name="chkall" onclick="checkAll(this.form, 'ids')">Tất cả &nbsp;			<input type="submit" name="invitesubmit" value="Mời" class="submit" />
			<input type="submit" name="invitesubmit" value="Mời" class="submit" />
		</p>
	
	<!--{else}-->
		<div class="c_form">Không có bạn bè nào!</div>
	<!--{/if}-->

	</div>
	
	<div id="sidebar" style="width: 150px;">
	<div class="cat">
		<h3>Nhóm bạn bè</h3>
		<ul class="post_list line_list">
			<li<!--{if $_GET[group]==-1}--> class="current"<!--{/if}-->><a href="cp.php?ac=mtag&tagid=$mtag[tagid]&op=manage&subop=invite&group=-1">Tất cả</a></li>
			<!--{loop $groups $key $value}-->
			<li<!--{if $_GET[group]==$key}--> class="current"<!--{/if}-->><a href="cp.php?ac=mtag&tagid=$mtag[tagid]&op=manage&subop=invite&group=$key">$value</a></li>
			<!--{/loop}-->
		</ul>
	</div>
	</div>
		
	<!--{elseif $_GET['subop'] == 'members'}-->
	
	<div id="content" style="width: 640px;">
	
	<div class="h_status">
		Lựa chọn người dùng để thay đổi level
	</div>
	
	<div class="h_status">
		<!--{if $list}-->
		<ul class="avatar_list">
		<!--{loop $list $value}-->
			<li><div class="avatar48"><a href="space.php?uid=$value[uid]" target="_blank"><!--{avatar($value[uid],small)}--></a></div>
				<p><a href="space.php?uid=$value[uid]">{$_SN[$value[uid]]}</a></p>
				<p><input type="checkbox" name="ids[]" value="$value[uid]">Đã chọn</p>
			</li>
		<!--{/loop}-->
		</ul>
		<div class="page">$multi</div>
		<!--{else}-->
		<div class="c_form">Không có thông tin.</div>
		<!--{/if}-->
	</div>
	<p>
		<input type="checkbox" id="chkall" name="chkall" onclick="checkAll(this.form, 'ids')">Tất cả &nbsp;
		Tạo nhóm
		<select name="newgrade">
			<!--{if $mtag[grade]==9}-->
			<option value="9">Admin</option>
			<option value="8">Moderator</option>
			<!--{/if}-->
			<option value="1">Star Member</option>
			<option value="0">Member</option>
			<option value="-1">Banned</option>
			<option value="-2">Chờ duyệt</option>
			<option value="-9">Xóa</option>
		</select>  &nbsp;
		<input type="submit" name="memberssubmit" value="Ok" class="submit" />
	</p>
	</div>
	
	<div id="sidebar" style="width: 150px;">
	<div class="cat">
		<h3>Cấp bậc thành viên</h3>
		<ul class="post_list line_list">
			<li<!--{if $_GET[grade]==-2}--> class="current"<!--{/if}-->><a href="cp.php?ac=mtag&op=manage&tagid=$mtag[tagid]&subop=members&grade=-2">Chờ duyệt</a></li>
			<li<!--{if $_GET[grade]==0}--> class="current"<!--{/if}-->><a href="cp.php?ac=mtag&op=manage&tagid=$mtag[tagid]&subop=members&grade=0">Member</a></li>
			<li<!--{if $_GET[grade]==9}--> class="current"<!--{/if}-->><a href="cp.php?ac=mtag&op=manage&tagid=$mtag[tagid]&subop=members&grade=9">Admin</a></li>
			<li<!--{if $_GET[grade]==8}--> class="current"<!--{/if}-->><a href="cp.php?ac=mtag&op=manage&tagid=$mtag[tagid]&subop=members&grade=8">Moderator</a></li>
			<li<!--{if $_GET[grade]==1}--> class="current"<!--{/if}-->><a href="cp.php?ac=mtag&op=manage&tagid=$mtag[tagid]&subop=members&grade=1">Star members</a></li>
			<li<!--{if $_GET[grade]==-1}--> class="current"<!--{/if}-->><a href="cp.php?ac=mtag&op=manage&tagid=$mtag[tagid]&subop=members&grade=-1">Banned</a></li>
		</ul>
	</div>
	</div>
	
	<!--{elseif $_GET['subop'] == 'member'}-->
	
	<h1>Quản lý thành viên</h1>
	<a href="javascript:hideMenu();" title="Đóng" class="float_del">Đóng</a>
	<div id="$_GET[uid]" class="popupmenu_inner">
	<p>Quản lý: {$_SN[$tagspace[uid]]}</p>
	<p>Set Level
		<select name="grade">
			<option value="9"$grades[9]>Admin</option>
			<option value="8"$grades[8]>Moderator</option>
			<option value="1"$grades[1]>Star Member</option>
			<option value="0"$grades[0]>Member</option>
			<option value="-1"$grades[-1]>Ban</option>
			<option value="-2"$grades[-2]>Chờ duyệt</option>
			<option value="-9">Xóa</option>
		</select>
	</p>
	<p class="btn_line">
		<input type="hidden" name="refer" value="$_SGLOBAL[refer]">
		<button name="membersubmit" type="submit" class="submit" value="true">Lưu</button>
	</p>
	</div>
	
	<!--{/if}-->

	<input type="hidden" name="formhash" value="<!--{eval echo formhash();}-->" />
	</form>

<!--{elseif $_GET[op]=='mtaginvite'}-->
	
	<h2 class="title"><img src="image/app/mtag.gif" />Mời bạn bè</h2>
	<div class="tabs_header">
		<ul class="tabs">
			<li class="active"><a href="cp.php?ac=mtag&op=mtaginvite"><span>Lời mời tham gia nhóm</span></a></li>
			<li><a href="space.php?do=mtag&view=me"><span>Trở lại</span></a></li>
		</ul>
	</div>
	
	<div class="h_status">
		Mời bạn bè tham gia nhóm.
		<!--{if $invites}-->
			<span class="pipe">|</span>
			<a href="cp.php?ac=mtag&op=inviteconfirm&tagid=0&r=0"><span>Bỏ tất cả</span></a>
		<!--{/if}-->
	</div>
	
	<div class="c_form">
		<!--{if $invites}-->
		<table cellspacing="4" cellpadding="4" class="formtable">
		<!--{loop $invites $value}-->
		<tr>
			<td width="80">
			<div class="threadimg60"><a href="space.php?do=mtag&tagid=$value[tagid]" target="_blank"><img src="$value[pic]" width="60"></a></div></td>
			<td class="h_status">
				<p><a href="space.php?do=mtag&tagid=$value[tagid]" target="_blank" style="font-size:14px;font-weight:bold;">$value[tagname]</a></p>
				<div id="tag_$value[tagid]" style="padding:0.5em 0 0.5em 0;">
					<p>$value[membernum] thành viên<!--{if $value[viewperm]}-->, thành viên có thể xem <!--{/if}-->, Chuyên mục: $value[title]</p>
					Mời bạn bè: <a href="space.php?uid=$value[fromuid]" target="_blank">{$_SN[$value[fromuid]]}</a>
					<br>Thời gian mời: <!--{date('d-m-Y H:i', $value[dateline], 1)}-->
					<p style="padding:1em 0 0 0;">
					<a href="cp.php?ac=mtag&op=inviteconfirm&tagid=$value[tagid]&r=1" class="submit" onclick="ajaxget(this.href, 'tag_$value[tagid]');return false;">Xác nhận lời mời</a> 
					<a href="cp.php?ac=mtag&op=inviteconfirm&tagid=$value[tagid]&r=0" class="button" onclick="ajaxget(this.href, 'tag_$value[tagid]');return false;">Bỏ qua</a>
					</p>
				</div>
			</td>
		</tr>
		<!--{/loop}-->
		</table>
		<!--{else}-->
		Không có lời mời bạn bè nào.
		<!--{/if}-->
	
	</div>	

<!--{elseif $_GET[op]=='join'}-->
	
	<h1>Tham gia nhóm</h1>
	<a href="javascript:hideMenu();" class="float_del" title="Đóng">Đóng</a>
	<div class="popupmenu_inner" id="__joinform_{$tagid}">
	<form id="joinform_{$tagid}" name="joinform_{$tagid}" method="post" action="cp.php?ac=mtag&op=join&tagid=$tagid">
		<p>Bạn có chắc muốn tham gia nhóm?</p>
		<p class="btn_line">
			<input type="hidden" name="refer" value="$_SGLOBAL[refer]" />
			<input type="submit" name="joinsubmit" value="Join" class="submit" />
		</p>
		<input type="hidden" name="formhash" value="<!--{eval echo formhash();}-->" />
	</form>
	</div>

<!--{elseif $_GET[op]=='out'}-->
	
	<h1>Rời bỏ nhóm</h1>
	<a href="javascript:hideMenu();" class="float_del" title="Đóng">Đóng</a>
	<div class="popupmenu_inner" id="__outform">
	<form id="outform" name="outform" method="post" action="cp.php?ac=mtag&op=out&tagid=$mtag[tagid]">
		<p>Bạn có chắc muốn rời bỏ nhóm?</p>
		<p class="btn_line">
			<input type="hidden" name="refer" value="$_SGLOBAL[refer]" />
			<input type="submit" name="outsubmit" value="Chắc chắn" class="submit" />
		</p>
		<input type="hidden" name="formhash" value="<!--{eval echo formhash();}-->" />
	</form>
	</div>

<!--{elseif $_GET[op]=='apply'}-->
	
	<h1>Báo cáo cho nhóm Admin</h1>
	<a href="javascript:hideMenu();" class="float_del" title="Đóng">Đóng</a>
	<div class="popupmenu_inner" id="__pmapplyform_{$tagid}">
	<form id="pmapplyform_{$tagid}" name="pmapplyform_{$tagid}" method="post" action="cp.php?ac=mtag&op=apply&tagid=$tagid">
		<table cellspacing="0" cellpadding="3">
			<tr><td>Vui lòng ghi lý do vì sao bạn báo cáo cho chúng tôi</td></tr>
			<tr>
				<td><textarea id="message" name="message" cols="40" rows="4" tabindex="3" style="width: 400px; height: 150px;" onkeydown="ctrlEnter(event, 'pmsubmit_btn');"></textarea></td>
			</tr>
			<tr>
				<td>
				<input type="hidden" name="refer" value="$_SGLOBAL[refer]" />
				<input type="hidden" name="pmsubmit" value="true" />
				<input type="hidden" name="formhash" value="<!--{eval echo formhash();}-->" />
				<!--{if $_SGLOBAL[inajax]}-->
				<input type="button" name="pmsubmit_btn" id="pmsubmit_btn" value="Ok" class="submit" onclick="ajaxpost('pmapplyform_{$tagid}','',2000)" />
				<!--{else}-->
				<input type="submit" name="pmsubmit_btn" id="pmsubmit_btn" value="Ok" class="submit" />
				<!--{/if}-->
				</td>
			</tr>
		</table>
	</form>
	</div>


<!--{else}-->
	
	<h2 class="title"><img src="image/app/mtag.gif" />Nhóm</h2>
	<div class="tabs_header">
		<ul class="tabs">
			<li class="active"><a href="cp.php?ac=mtag"><span>Tạo nhóm</span></a></li>
			<li><a href="space.php?do=mtag&view=me"><span>Nhóm của tôi</span></a></li>
		</ul>
	</div>

	<!--{if $_GET[op]=='multiresult'}-->

	<div class="c_form">
	<table cellspacing="0" cellpadding="0" class="formtable">
		<caption>
			<h2>Bạn đã tham gia nhóm này thành công.</h2>
			<p>Bây giờ bạn có thể ghé thăm nhóm và thảo luận về các đề tài yêu thích.</p>
		</caption>
		<!--{loop $mtags $value}-->
		<tr>
			<td><a href="space.php?do=mtag&tagid=$value[tagid]" target="_blank">$value[tagname]</a></td>
			<td>{$value[title]}</td>
			<td>$value[membernum] thành viên</td>
			<td><a href="space.php?do=mtag&tagid=$value[tagid]" class="submit">Ghé thăm nhóm</a></td>
		</tr>
		<!--{/loop}-->
	</table>
	</div>

	<!--{elseif $_GET[op]=='confirm'}-->

		<!--{if $findmtag}-->
	
		<div class="c_form">
		<table cellspacing="0" cellpadding="0" class="formtable">
			<tr><td width="90"><div class="threadimg60"><img src="$findmtag[pic]" width="60" height="60"></div></td><td>
				Nhóm <a href="space.php?do=mtag&tagid=$findmtag[tagid]" target="_blank">$findmtag[tagname]</a> đã tồn tại
				<br>$findmtag[membernum] thành viên
				<br><br><a href="space.php?do=mtag&tagid=$findmtag[tagid]" class="submit">Ghé thăm nhóm</a>
			</td></tr>
		</table>
		</div>
		
		<!--{else}-->
	
		<form method="post" action="cp.php?ac=mtag" class="c_form">
		<input type="hidden" name="formhash" value="<!--{eval echo formhash();}-->" />
		<!--{if $likemtags}-->
		<table cellspacing="0" cellpadding="0" class="formtable">
			<caption>
				<h2>Nhóm nổi tiếng</h2>
				<p>Bạn có thể tham gia vào những nhóm nổi tiếng thay vì tạo 1 nhóm mới.</p>
			</caption>
			<!--{loop $likemtags $value}-->
			<tr>
				<td><a href="space.php?do=mtag&tagid=$value[tagid]" target="_blank">$value[tagname]</a></td>
				<td>$value[membernum] thành viên</td>
				<td>
					<a href="space.php?do=mtag&tagid=$value[tagid]" target="_blank">Ghé thăm nhóm</a>
					<span class="pipe">|</span>
					<!--{if $value['joinperm'] < 2}-->
					<a href="cp.php?ac=mtag&op=join&tagid=$value[tagid]" id="mtag_like_$value[tagid]" onclick="ajaxmenu(event, this.id)">Chọn nhóm tham gia</a>
					<!--{else}-->
					<strong>Phải có lời mời mới tham gia được.</strong>
					<!--{/if}-->
				</td>
			</tr>
			<!--{/loop}-->
		</table>
		<!--{/if}-->
		
		<table cellspacing="0" cellpadding="0" class="formtable">
			<caption>
				<h2>Bạn có chắc muốn tạo nhóm mới?</h2>
			</caption>
			<tr>
				<th width="120">Tên nhóm</th>
				<td>$newtagname</td>
			</tr>
			<tr>
				<th width="120">Chuyên mục</th>
				<td>$profield[title]</td>
			</tr>
			<tr>
				<td></td><td>
					<input type="hidden" name="tagname" value="$newtagname">
					<input type="hidden" name="fieldid" value="$fieldid">
					<input type="hidden" name="joinmode" value="1">
					<input type="submit" id="textsubmit" name="textsubmit" value="Tạo nhóm mới" class="submit"></td>
			</tr>
		</table>
		</form>
		<!--{/if}-->

	<!--{else}-->

	<!--{if $textarr}-->
	<form method="post" action="cp.php?ac=mtag" class="c_form">
	<input type="hidden" name="formhash" value="<!--{eval echo formhash();}-->" />
	<table cellspacing="6" cellpadding="6" class="formtable">
	<caption>
		<h2>Tạo nhóm mới!</h2>
		<p>Việc tạo nhóm ở Nhà Tui hoàn toàn miễn phí, sau khi tạo nhóm bạn có thể mời bạn bè tham gia thảo luận.</p>
	</caption>
	<tr>
		<th width="120">Tên nhóm</th>
		<td><input type="text" name="tagname" value="" class="t_input"></td>
	</tr>
	<tr>
		<th>Chuyên mục</th>
		<td>
		<select name="fieldid">
		<!--{loop $textarr $value}-->
		<option value="$value[fieldid]">$value[title]</option>
		<!--{/loop}-->
		</select>
		</td>
	</tr>
	<tr>
		<th>&nbsp;</th>
		<td><input type="submit" name="textsubmit" value="Tạo nhóm" class="submit"></td>
	</tr>
	</table>
	</form>
	<!--{/if}-->
	
	<!--{if $choicearr}-->
	<form method="post" action="cp.php?ac=mtag" class="c_form">
	<input type="hidden" name="formhash" value="<!--{eval echo formhash();}-->" />
	<table cellspacing="6" cellpadding="6" class="formtable">
	<caption>
		<h2>Tham gia vào nhóm mặc đinh</h2>
		<p>Bạn có thể lựa chọn nhóm yêu thích để tham gia mà không cần tạo nhóm mới.<br> Hãy ghé thăm trang chủ nhóm để tìm nhóm thích hợp.</p>
	</caption>
	<!--{loop $choicearr $fid $value}-->
	<tr>
		<th width="120">$value[title]</th>
		<td>
		<!--{if $value['formtype']=='multi'}-->
			<table><tr>
			<!--{loop $value['choice'] $sk $sv}-->
			<td><input type="checkbox" name="tagname[$fid][]" value="$sv" <!--{if $existmtag[$fid] && in_array($sv, $existmtag[$fid])}-->đã tồn tại<!--{/if}-->> <a href="space.php?do=mtag&fieldid=$fid&tagname=<!--{eval echo urlencode($sv);}-->" target="_blank">$sv</a></td>
			<!--{if $sk%3==2}--></tr><tr><!--{/if}-->
			<!--{/loop}-->
			</tr></table>
		<!--{else}-->
			<table><tr>
			<!--{loop $value['choice'] $sk $sv}-->
			<td><input type="radio" name="tagname[$fid]" value="$sv" <!--{if $existmtag[$fid] && in_array($sv, $existmtag[$fid])}--> đã kiểm tra <!--{/if}--> <!--{if $existmtag[$fid]}-->đã tồn tại<!--{/if}-->> <a href="space.php?do=mtag&fieldid=$fid&tagname=<!--{eval echo urlencode($sv);}-->" target="_blank">$sv</a></td>
			<!--{if $sk%3==2}--></tr><tr><!--{/if}-->
			<!--{/loop}-->
			</tr></table>
		<!--{/if}-->
		</td>
	</tr>
	<!--{/loop}-->
	<tr>
		<th>&nbsp;</th>
		<td><input type="submit" name="choicesubmit" value="Tham gia nhóm" class="submit"></td>
	</tr>
	</table>
	</form>
	<!--{/if}-->
	
	<form method="get" action="space.php" class="c_form">
	<table cellspacing="6" cellpadding="6" class="formtable">
	<caption>
		<h2>Tìm kiếm nhóm</h2>
		<p> Bạn có thể tìm kiếm nhóm yêu thích tại đây</p>
	</caption>
	<tr>
		<th width="120">Tên nhóm</th>
		<td>
		<input name="searchkey" value="" class="t_input" type="text">
		</td>
	</tr>
	<tr>
		<th>&nbsp;</th>
		<td><input name="searchsubmit" value="Tìm nhóm" class="submit" type="submit"></td>
	</tr>
	</table>
	<input type="hidden" name="searchmode" value="1" />
	<input type="hidden" name="do" value="mtag" />
	<input type="hidden" name="view" value="hot" />
	</form>

	<!--{/if}-->

<!--{/if}-->
<!--{template footer}-->