<!--Code Ucenter Home GoHooH Full - Full mod - full game - full skin hack by GoHooH.CoM-->
<!--More template, game, mod, plugins for Discuz!, Ucenter Home at http://www.gohooh.com/forum/-->
<!--{eval $_TPL['titles'] = array('Quiz - Bói vui- Power by GoHooH.CoM');}-->
<!--{template header}-->
<div id="mainarea" style="float:right; width:810px;">
  <h1 class="title">Quiz - Bói vui - Chỉ 5 phút bạn sẽ biệt được ngày hôm nay của bạn thế nào</h2>

<div id="content" style="width: 800px; margin:0; border:4px solid #f1f1f1; ">
<!--{template quizgohooh}-->
<!--giữ nguyên bản quyền sẽ thúc đẩy tớ share tiếp mod, nhưng không để vẫn cảm ơn cậu sử dụng dịch vụ của GoHooH.CoM-->
<div style="padding: 0px 0px 0px 0px; font-size: 12px; text-align: right;"><b>Hack by <font color=red><a target="_blank" href="http://www.gohooh.com/">GoHooH.CoM</a></font></b></div>
<!--giữ nguyên bản quyền sẽ thúc đẩy tớ share tiếp mod, nhưng không để vẫn cảm ơn cậu sử dụng dịch vụ của GoHooH.CoM-->

</div>
</div>
<!--{template footer}-->