<!--Code Ucenter Home GoHooH Full - Full mod - full game - full skin hack by GoHooH.CoM-->
<!--More template, game, mod, plugins for Discuz!, Ucenter Home at http://www.gohooh.com/forum/-->
<!--{template header}-->
<marquee><font size=2 color=blue><b>Thỉnh thầy thầy sẽ phán cho. Chúc các bạn 1 ngày vui vẻ</b></font></marquee>
<div class="c_header a_header">

<iframe src="http://www.gohooh.com/nhatui/thinhthay/index.php" name="frame1" scrolling="no" frameborder="no" align="center" height = "390" width = "100%"></iframe>

<!--{template footer}-->