<!--More template, game, mod, plugins for Discuz!, Ucenter Home at http://www.gohooh.com/forum/-->
<!--Code Ucenter Home GoHooH Full - Full mod - full game - full skin hack by GoHooH.CoM-->
<!--Game siêu thị bạn bè được phát triển bởi GoHooH.CoM. Vui lòng giữ bản quyền Việt hóa của GoHooH.CoM. Cám ơn bạn đã sử dụng sản phẩm của GoHooH.CoM-->
<!--{if $comcatlist}-->
	<ul class="com_category">
		<!--{loop $comcatlist $value}-->
			<li $value[active]><a href="$value[link]">$value[catname]</a></li>
		<!--{/loop}-->
	</ul>
<!--{/if}-->
