<!--Code Ucenter Home GoHooH Full - Full mod - full game - full skin hack by GoHooH.CoM-->
<!--More template, game, mod, plugins for Discuz!, Ucenter Home at http://www.gohooh.com/forum/-->
﻿<!--{eval $_TPL['titles'] = array('Chơi game nông trại vui vẻ trên mạng xã hội Nhà Tui - GoHooH.CoM');}-->
<!--{template header}-->
<style type="text/css">
#farmhead{width:100%; height:46px; overflow:hidden; margin:0px; padding:0px;}
#farmhead table,td,tr,th{border:0px; margin:0px; padding:0px; font-size:12px;}
.links{height:46px; width:766px; position:relative;overflow:hidden;}
links a{float:left; width:104px; height:46px;}
.links a.link1{float:left; width:104px; height:46px;background:#FFFFFF url('./newfarm/buttonbg.jpg') 0px 0px; }
.links a.link2{float:left; width:104px; height:46px;background:#FFFFFF url('./newfarm/buttonbg.jpg') -104px 0;}
.links a.link3{float:left; width:104px; height:46px;background:#FFFFFF url('./newfarm/buttonbg.jpg') -208px 0;}
.links a.link4{float:left; width:104px; height:46px;background:#FFFFFF url('./newfarm/buttonbg.jpg') -312px 0;}
.links a.link5{float:left; width:100px; height:46px;background:#FFFFFF url('./newfarm/buttonbg.jpg') -416px 0;}
.links a.link6{float:left; width:100px; height:46px;background:#FFFFFF url('./newfarm/buttonbg.jpg') -515px 0;}
.links a.link1:hover ,#head .links a.select1{float:left; width:104px; height:46px;background:#FFFFFF url('./newfarm/buttonbg.jpg') 0px -46px;}
.links a.link2:hover ,#head .links a.select2{float:left; width:104px; height:46px;background:#FFFFFF url('./newfarm/buttonbg.jpg') -104px -46px;}
.links a.link3:hover ,#head .links a.select3{float:left; width:104px; height:46px;background:#FFFFFF url('./newfarm/buttonbg.jpg') -208px -46px;}
.links a.link4:hover ,#head .links a.select4{float:left; width:104px; height:46px;background:#FFFFFF url('./newfarm/buttonbg.jpg') -312px -46px;}
.links a.link5:hover ,#head .links a.select5{float:left; width:100px; height:46px;background:#FFFFFF url('./newfarm/buttonbg.jpg') -416px -46px;}
.links a.link6:hover ,#head .links a.select6{float:left; width:100px; height:46px;background:#FFFFFF url('./newfarm/buttonbg.jpg') -515px -46px;}
</style>
<div id="farmhead">
<table border="1" cellpadding="0" cellspacing="0" >
  <tr>
    <td><div class="links">
        <a href="myfarm.htm" class="link1"  target="myfarm"></a>
        <!--<a href="mymc.htm" class="link2" target="myfarm"> </a>-->
        <a href="newfarm/vipPay.php" class="link3" target="myfarm"></a>
        <a href="newfarm.php?ac=invite" class="link4" target="myfarm"> </a>
        <a href="newfarm/fb.htm" class="link5" target="myfarm"> </a>
        <a href="myfarmqp.htm" class="link6" target="_blank" onclick='location.assign("space.php?do=home")'>
<!--{if checkperm('managespace')}--><a href="newfarm/admin.php" id="a_manage" target="_blank">AdminCP Farm</a><!--{/if}-->
        </div>
</td>
    <td>
    </td>
  </tr>
</table>
</div>
<div class="pay_title">
    <img src="ad_gg.gif" height="18">Chú ý :<!--{template data/adtpl/1}-->
    <span style="margin-left: 100px;font-weight: bold; "></span></div>
<div style="padding:0px 0px 0px 0px; font-size:12px;text-align:center;">
	<div style="padding: 0px 0px 0px 0px; font-size: 12px; text-align: center;">
	<iframe id="myfarm" name="myfarm" src="myfarm.htm" frameborder="0" width="798" height="620"></iframe>
<div style="padding: 0px 0px 0px 0px; font-size: 12px; text-align: right;"><b>Develop by <font color=red><a href="http://www.gohooh.com">GoHooH.CoM</a></font></b></div>
</div>
</div>
<!--{template footer}-->
