<!--Code Ucenter Home GoHooH Full - Full mod - full game - full skin hack by GoHooH.CoM-->
<!--More template, game, mod, plugins for Discuz!, Ucenter Home at http://www.gohooh.com/forum/-->
<!--{template header}-->

	<h1>Verification via WebCam</h1>
	<a class="float_del" title="Close" href="javascript:hideMenu();">Close</a>
	<div class="popupmenu_inner">
		<p>This WebCam verification have been verified after this image taken</p>
		<p><a href="$videophoto" target="_blank"><img src="$videophoto" alt="WebCam Verification" width="400"></a></p>
	</div>

<!--{template footer}-->