<!--Code Ucenter Home GoHooH Full - Full mod - full game - full skin hack by GoHooH.CoM-->
<!--More template, game, mod, plugins for Discuz!, Ucenter Home at http://www.gohooh.com/forum/-->
<!--Mod Xem tivi online V1 cho mạng xã hội Ucenter Home - Power by GoHooH.CoM-->
<!--{eval $_TPL['titles'] = array('Xem Tivi Online | Truyền Hình Online | Tivi Trực Tuyến | TV Online | Tivi Online - Power by GoHooH.CoM');}-->
<!--{template header}-->
<div class="c_header a_header">
	<div class="avatar48"><!--{avatar($_SGLOBAL[supe_uid],small)}--></a></div>
	<p style="font-size:14px"><strong><h1>Xem Tivi Online | Truyền Hình Online | Tivi Trực Tuyến | TV Online | Tivi Online</h1></strong></p>
	Đủ các kênh truyền hình trong nước vào quốc tế - Tốc độ cực nhanh
</div>
<!--{template gohoohtv}-->
<!--{template footer}-->